.wrapper {
    width: 100%;
    height: var(--defaut-layout-header-height);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
}

.inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: var(--defaut-layout-header-width);
    padding: 0 24px 0 20px;
    height: 100%;
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-btn {
    background-color: transparent;
    padding: 3px 3px 0 3px;
    margin-left: 16px;
    cursor: pointer;
}

.user-avatar {
    border-radius: 50%;
    width: 32px;
    margin-left: 24px;
    cursor: pointer;
}

.action-upload {
    height: 16px;
    width: 16px;
    margin-right: 8px;
    border-color: rgba(22, 24, 35, 0.12);
}

.more-btn {
    background: transparent;
}

.more-icon {
    font-size: 2rem;
    padding: 4px;
    margin-left: 26px;
    cursor: pointer;
}